* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  padding: 1.3rem;

  .img-bg-header {
    position: absolute;
    right: 0;
    top: -20px;
  }

  h1 {
    font-size: 40px;
  }

  .img-logo {
    margin-bottom: 40px;
  }
}

@media only screen and(max-width: 720px) {
  .img-bg-header {
    display: none;
  }

  header {
    background: url('./assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
