@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

$primaryColor: #1e213f;
$secondaryColor: #f87070;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background: $primaryColor;
}

button {
  cursor: pointer;
}

.container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .tabs-options-time {
    margin: 30px 0;
    background: #161932;
    border-radius: 31px;
    display: flex;
    width: 91%;
    max-width: 373px;
    justify-content: space-around;
    align-items: center;
    padding: 2px;

    button {
      color: #d7e0ff;
      background: #161932;
      border: none;
      padding: 1rem;
      font-weight: 600;
      cursor: pointer;
      border-radius: 27px;
      width: 120px;
      margin: 4px;
    }

    .active {
      background: #f87070;
      color: #1e213f;
    }
  }

  .timer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0;
    background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
    box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
    width: 98%;
    max-width: 410px;
    height: 410px;
    border-radius: 50%;
    color: #d7e0ff;
    font-weight: 700;

    p {
      z-index: 2;
    }

    .progress-ring {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .progress-ring__circle {
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      stroke: #f87070;
      stroke-linecap: round;
    }

    .progress-time {
      font-size: 100px;
    }

    .progress-bar {
      width: 21rem;
      height: 21rem;
      border-radius: 50%;
      border: 0.8rem solid #f87070;
      position: absolute;
    }

    .time-control-pomodoro {
      letter-spacing: 15px;
      margin-top: 12px;
      cursor: pointer;
    }

    .background {
      background: #161932;
      width: 360px;
      height: 360px;
      position: absolute;
      border-radius: 50%;
      z-index: 0;
    }
  }

  .modal-settings {
    background: #ffffff;
    border-radius: 25px;
    width: 100%;
    max-width: 540px;
    height: auto;
    color: #161932;

    hr {
      border: 0.02rem solid #e3e1e1;
    }

    .subtitle {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 5px;
      margin: 22px 0;
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      padding: 2rem;

      .title-modal {
        font-size: 26px;
        font-weight: 700;
      }

      .close-modal {
        color: #1e213f;
        opacity: 0.5;
        font-weight: bold;
      }
    }

    .modal-body {
      padding: 0 2rem;

      .inputs-time {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        .inputs-wrappers {
          p {
            opacity: 0.4;
            font-weight: 700;
            font-size: 12px;
          }

          input {
            background: #eff1fa;
            border-radius: 10px;
            border: none;
            width: 140px;
            height: 48px;
            margin-top: 8px;
            padding: 10px 15px;
            font-weight: 700;
            font-size: 14px;
          }
        }
      }

      .font {
        display: flex;
        justify-content: space-between;
        border-top: 0.1rem solid #e3e1e1;
        border-bottom: 0.1rem solid #e3e1e1;
        padding: 16px 0;

        .font-options {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .active {
            background: #161932 !important;
            color: #fff;
          }

          .option {
            background-color: #eff1fa;
            border-radius: 50%;
            margin-left: 16px;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }

      .colors {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .colors-options-wrapper {
          position: relative;
          display: flex;
          justify-content: space-between;
          margin: 22px 0;
        }

        .option-color {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-left: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .check-icon {
          background: url('./assets/check-icon.svg');
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 14px;
          position: absolute;
          left: 1.7rem;
          top: 0.8rem;
        }

        .color-one {
          background-color: #f87070;
        }

        .color-two {
          background-color: #70f3f8;
        }

        .color-three {
          background-color: #d881f8;
        }
      }
    }

    .wrapper-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: -26px;

      .btn-apply {
        background: #F87070;
        width: 140px;
        height: 53px;
        border: none;
        color: #fff;
        border-radius: 26.5px;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .settings,
  .close-modal {
    cursor: pointer;
  }

  @media only screen and(max-width: 469px) {
    .background {
      width: 320px !important;
      height: 320px !important;
    }

    .timer {
      width: 344px !important;
      height: 344px !important;

      .progress-time {
        font-size: 4rem;
      }
    }
  }
}
