* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  background: #fafafa;
}

header {
  background: linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);
  position: relative;

  .content-header {
    padding: 48px 26px;
    color: #fff;
    background: url('./assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

    h1 {
      letter-spacing: 8px;
    }
  }
}

.tasks-wrapper {
  padding: 0 26px;
  margin-top: -6rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input:first-child {
    margin-bottom: 1rem;
  }

  input {
    width: 327px;
    height: 48px;
    border-radius: 5px;
    border: none;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #9495a5;
  }

  .todo {
    border-bottom: 0.01rem solid #e5e2e2;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
  }
}
